
<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
        xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>update Contact</title>
</head>
<body>
<div id="content">
  <!-- sidebar -->

  <!-- user is logged in : sidebar -->

  <div th:if="${loggedInUser}">
    <div data-th-replace="~{user/sidebar :: sidebar}"></div>
  </div>

  <div class="sm:pl-64 pt-20" style="height: 1000px">
    <div class="grid grid-cols-12">
      <div class="col-span-3"></div>
      <div class="col-span-12 md:col-span-6">
        <div
                class="card block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
        >
          <div data-th-replace="~{message::messagebox}"></div>

          <h1 class="text-2xl font-semibold">Update Contact</h1>
          <form
                  class="mt-8"
                  data-th-action="@{'/user/contacts/update/' +${contactId}}"
                  data-th-object="${contactForm}"
                  method="post"
                  enctype="multipart/form-data"
          >
            <!-- name form -->
            <div class="mb-3">
              <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">contact name</label>
              <div class="relative mb-1">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                  <i class="fa-regular w-4 h-4 fa-user"></i>
                </div>
                <input
                        data-th-field="*{name}"
                        type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="enter contact name">
              </div>
              <p class="text-red-500"
                 data-th-if="${#fields.hasErrors('name')}"
                 data-th-errors="*{name}"
              >
                Invalid name
              </p>
            </div>

            <!--email form-->
            <div class="mb-3">
              <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">contact email</label>
              <div class="relative mb-1">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">

                  <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                    <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                    <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                  </svg>
                </div>
                <input
                        data-th-field="*{email}"
                        type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="example@gmail.com">
              </div>
              <p class="text-red-500"
                 data-th-if="${#fields.hasErrors('email')}"
                 data-th-errors="*{email}"
              >
                Invalid email
              </p>
            </div>



            <div class="mb-3">
              <label for="input-group-1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">phone number</label>
              <div class="relative mb-1">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">

                  <i class="fa-solid w-4 h-4 fa-phone"></i>
                </div>
                <input
                        data-th-field="*{phoneNumber}"
                        type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="phone">
              </div>
              <p class="text-red-500"
                 data-th-if="${#fields.hasErrors('phoneNumber')}"
                 data-th-errors="*{phoneNumber}"
              >
                Invalid phoneNumber
              </p>
            </div>

            <div class="mb-3">

              <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">contact address</label>
              <textarea
                      data-th-field="*{address}"
                      rows="4"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="address of the contact">

              </textarea>
              <p class="text-red-500"
                 data-th-if="${#fields.hasErrors('address')}"
                 data-th-errors="*{address}"
              >
                Invalid address
              </p>
            </div>

            <div class="mb-3">

              <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">description</label>
              <textarea
                      data-th-field="*{description}"
                      rows="4"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="write about your contact"></textarea>

            </div>

            <div class="flex space-x-3 mb-3">
              <div class="w-full">
                <div class="mb-3">
                  <div class="relative mb-6">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">

                      <i class="fa-solid w-4 h-4 fa-earth-americas"></i>
                    </div>
                    <input
                            data-th-field="*{websiteLink}"
                            type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="http://facebook.com">
                  </div>
                </div>
              </div>


              <div class="w-full">
                <div class="mb-3">
                  <div class="relative mb-6">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">

                      <i class="fa-brands w-4 h-4 fa-linkedin"></i>
                    </div>
                    <input
                            data-th-field="*{linkedinLink}"
                            type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="http://linkedin.com">
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="large_size">profile pic</label>
              <input id="image_file_input"
                     data-th-field="*{contactImage}" class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                     type="file">
              <p class="text-red-500"
                 data-th-if="${#fields.hasErrors('contactImage')}"
                 data-th-errors="*{contactImage}"
              >
                Invalid file
              </p>
              <img
                      data-th-src="*{picture}"
                      class="max-h-52 mx-auto rounded-lg shadow m-3"
                      src="" id="upload_image_preview"
                      alt="">
            </div>

            <div class="flex items-center mb-3">
              <input data-th-field="*{favourite}"  type="checkbox"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">favourite</label>
            </div>

            <div class="button-container text-center">
              <button type="submit" class="px-3 py-2 dark:bg-blue-600 hover:dark:bg-blue-700 rounded bg-black text-white">Update contact</button>
              <button type="reset" class="px-3 py-2 dark:bg-blue-600 hover:dark:bg-blue-700 rounded bg-black text-white">reset</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script data-th-src="@{'js/admin.js'}"></script>
<script data-th-src="@{'/js/admin.js'}"></script>
<script>
  console.log("this is add_contact page");
</script>
</body>
</html>



