
<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{})}" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
  
    <title>
      Services
    </title>
  </head>
  <body>
    <section id="content">
      <h1>Welcome to services page</h1>
      <h2>Services offered by SCM</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolore assumenda rerum harum mollitia incidunt nesciunt dignissimos esse dicta reprehenderit quam, quisquam aspernatur enim consequatur accusamus, minima alias odit ducimus.</p>
    </section>

  </body>
</html>
